<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="/css/tailwind-out.css" rel="stylesheet">
    <!-- 공통 헤더 포함 -->
    <th:block th:replace="fragments/header2 :: header2"></th:block>
</head>
<body>
<div class="mx-auto mt-56">
    <a href="https://sable-mars-102.notion.site/DevOps-190f0a616f2e4257bfc267f247dfc896?pvs=4" class="-m-20 p-20 flex items-center justify-center">
        <span class="sr-only">Notion link</span>
        <img class="h-96 w-auto" src="/picture/notion.png" alt="Notion Logo">
    </a>
</div>

</body>
</html>