<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="/css/tailwind-out.css" rel="stylesheet">
    <link href="/css/loginpage.css" rel="stylesheet">

    <!-- 공통 헤더 포함 -->
    <th:block th:replace="fragments/header :: header"></th:block>
</head>
<body>
<!-- 뒤 하얀선 -->
<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8 mt-16 full-height">
    <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
    <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <!-- 로그인 섹션 -->
    <div class="login-box">
        <div class="login-container">
            <h1 class="logo">Login</h1>
            <div class="container">
                <input type="text" placeholder="ID" id="id" class="account">
                <input type="password" placeholder="Password" id="password" class="account">
                <button id="login" class="account">Login</button>
                <p id="alert"></p>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/loginpage.js"></script>
</section>

<script src="script.js"></script>
</body>
</html>
