<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="/css/tailwind-out.css" rel="stylesheet">
    <link href="/css/loginpage.css" rel="stylesheet">

    <!-- 공통 헤더 포함 -->
    <th:block th:replace="fragments/header2 :: header2"></th:block>
</head>
<body>
    <section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8 mt-16 full-height">
        <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,theme(colors.indigo.100),white)] opacity-20"></div>
        <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
        <div class="mx-auto max-w-2xl lg:max-w-4xl">
            <!-- 컨텐츠 Flex 중앙 정렬 -->
            <div class="flex items-center justify-center h-full">
                <!-- 컨텐츠 -->
                <div class="text-center">
                    <img class="mx-auto w-40 h-45 rounded-full" src="/picture/증명사진.jpg" alt="Profile Picture">
                    <div class="mt-6">
                        <div class="font-semibold text-gray-900 text-2xl">Hyunho Lee</div>
                        <div class="text-gray-600 text-lg mt-2">
                            Student at Chungbuk National University<br>
                            Aspiring Cloud Engineer<br>
                            Passionate about Technology
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


