<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 및 회원가입</title>
    <link href="/css/tailwind-out.css" rel="stylesheet">
    <link href="/css/userPage.css" rel="stylesheet">
</head>
<body>
<!-- Home Icon -->
<header class="absolute inset-x-0 top-0 z-50">
    <div class="flex justify-center mt-8">
        <a href="/">
            <img class="h-16 w-auto" src="/picture/homeimage.png" alt="logo">
        </a>
    </div>
</header>

<!-- JavaScript -->
<script src="/js/userPage.js" defer></script>

<div class="container right-panel-active" id="container">
    <!-- 회원가입 -->
    <div class="container__form container--signup">
        <form th:action="@{/user/signup}" th:object="${memberFormDto}" method="post" class="form" role="form">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

            <h2 class="form__title">Sign Up</h2>

            <div class="input">
                <input type="text" id="name" th:field="*{name}" placeholder="Name" required />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
            </div>

            <div class="input">
                <input type="email" id="email" th:field="*{email}" placeholder="Email" required />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
            </div>

            <div class="input">
                <input type="password" id="password" th:field="*{password}" placeholder="Password" required />
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
            </div>

            <div class="input">
                <input type="text" id="address" th:field="*{address}" placeholder="Address" />
                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="error"></div>
            </div>
            <div th:if="${errorMessage}" th:text="${errorMessage}" class="error" style="color:red;"></div>

            <button class="btn" type="submit">Sign Up</button>

        </form>
    </div>

    <!-- 로그인 -->
    <div class="container__form container--signin">
        <form th:action="@{/user/userPage}" method="post" class="form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

            <h2 class="form__title">Sign In</h2>
            <div class="input">
                <input type="email" name="email" placeholder="Email" required />
            </div>
            <div class="input">
                <input type="password" name="password" placeholder="Password" required />
            </div>
            <div th:if="${error}" th:text="${error}" class="error" style="color:red;"></div>
            <button class="btn" type="submit">Sign In</button>
        </form>
    </div>

    <!-- 전환 버튼 -->
    <div class="container__overlay">
        <div class="overlay">
            <div class="overlay__panel overlay--left">
                <button class="btn" id="signIn">Sign In</button>
            </div>
            <div class="overlay__panel overlay--right">
                <button class="btn" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
